html, body {
    margin: 0;
    height: 100%;
}

.gameconsole-wrap {
    width: 100svw;
    height: 100svh;
    max-height: min(50svw, 500px);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.gameconsole {
    display: flex;
    width: 100%;
    height: 100%;
    
    overscroll-behavior: contain;
}
@media (orientation: portrait) {
    .gameconsole-wrap {
        max-height: unset;
        max-width: 50svh;
    }

    .gameconsole {
        flex-direction: column;
    }
    .gameconsole-screen {
        transform: rotate(90deg);
    }
}

.gameconsole-controls {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.gameconsole-controls-1 {
    background-color: #669;
}
.gameconsole-controls-2 {
    background-color: #696;
}

.gameconsole-screen {
    flex-grow: 0;
    aspect-ratio: 1 / 1;
    background-color: #666;
}


.button {
    position: relative;
    border-style: solid;
    border-color: #fff;
    border-width: 8px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}
.button:hover {
    background-color: rgba(255,255,255, 0.2);
}
.button::before {
    position: absolute;
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    vertical-align: middle;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
}
.button-up::before {content: "▲"}
.button-dn::before {content: "▼"}
.button-lt::before {content: "◀"}
.button-rt::before {content: "▶"}

.button-cross {
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
}
.button-cross > .button {
    position: absolute;
    width: 36%;
    height: 36%;
}
.button-cross > .button-up {top: 5%; left: 32%}
.button-cross > .button-dn {bottom: 5%; left: 32%}
.button-cross > .button-lt {top: 32%; left: 5%}
.button-cross > .button-rt {top: 32%; right: 5%}


